/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que ocupe toda la altura de la ventana */
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Estilo para el contenedor principal */
.curriculum {
    display: flex;
    background-color: #efefef;
    padding: 20px;
    height: 100%; /* Toma toda la altura disponible */
}

.class_foto{
    border: 2px solid black;
    width: 90px;
    border-radius: 20%;
}

.name {
    margin: 40px;
    font-size: 24px;
    font-weight: bold;
}

.right, .education{
    flex: 2;
    padding: 20px;
    background-color: #f7f7f7;
}

/* Estilos para enlaces */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para el encabezado (header) */
.header {
    position: relative;
    width: 230px;
    background-color: #3498db;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    color: #fff; /* Añade color de texto para que sea legible */
    padding: 10px;
}

/* Estilo para proyectos */
.projects {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.project {
    display: flex;
    justify-content:space-between;
    margin: 10px;
    width: 175px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

.project h3 {
    margin: 0;
    font-size: 14px;
}

.project p {
    margin-top: 5px;
    font-size: 12px;
    color: #777;
}

.project-image {
    width: 75px;
    margin-top: 5px;
    border-radius: 5px;
}

/* Estilos para barras de progreso */
.skills {
    margin-top: 20px;
}

.skill {
    margin-bottom: 10px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.progress {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: #61f34ec4;
    border-radius: 5px;
}

/* Estilo para la sección de Educación */

.education h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.education ul {
    list-style:circle;
    padding: 0;
}

.education li {
    margin-bottom: 10px;
    font-size: 14px;
}

/* Estilo para la  seccion del Footer*/
footer {
    margin-top: 120px;
    max-width: 200px;
    max-height: 475px;
    border-radius: 3.5%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact-form {
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex: 1;
    margin-right: 20px;
}

.contact-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #555;
    color: #fff;
}

.social-icons {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;

}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {

    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.mode{
    color: #111;
}
/* Estilos para la parte superior del encabezado */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 20px;
}



#dark-mode-btn {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.language-switch {
    font-size: 14px;
}

.language-switch a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode #dark-mode-btn {
    background-color: #333;
    color: #fff;
}

.dark-mode .language-switch a {
    color: #fff;
}

.dark-mode .mode {
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

body.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode .curriculum {
    background-color: #222;
}

.dark-mode .header {
    background-color: #3d3d3d;
}

.dark-mode .header-top {
    color: #fff;
}

.dark-mode #dark-mode-btn {
    background-color: #444;
    color: #fff;
}

.dark-mode .language-switch a {
    color: #fff;
}

.dark-mode body{
    background-color: #111;
    color: #fff;
}

.dark-mode .right {
    background-color:rgba(0,0,0,.09);
    color: #fff;
}

.dark-mode .profile p{
    background-color: #3d3d3d;
    padding: 10px;
    border-radius: 10px;
}

.dark-mode .education{
    padding-right: 10px;
    background-color: #222;
    border-radius:10px ;
}
.dark-mode .education h2 {
    color: white;
    border-radius:10px ;
}
.dark-mode .profile  h2{
    color: white;
}

.dark-mode   h2{
    color: white;
}

.dark-mode .project{
    background-color: #222;
}
.dark-mode .project p{
    color: white;
}
.dark-mode .project a{
    color: #f6f6f6;
}
.dark-mode .class_foto{
    border: 1px solid white;
}


/* Estilo para el switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 10px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 24px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Estilos adicionales para el modo oscuro */
body.dark-mode .slider {
    background-color: #444;
}

body.dark-mode input:checked + .slider {
    background-color: #00bcd4;
}

body.dark-mode input:checked + .slider:before {
    background-color: #2196F3;
}

/* Estilo para el menú desplegable */
.language-switch {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #111;
    margin-right: 20px;
}
.dark-mode .language-switch span{
    color: white;
}

.language-switch span {
    margin-right: 10px;
}

/* Estilo para el botón del menú desplegable */
.dropbtn {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Estilo para el contenido del menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dark-mode .dropdown-content{
    background-color: #414141;
}

/* Estilo para los enlaces del menú desplegable */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Cambia el color de fondo de los enlaces al pasar el mouse */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Muestra el menú desplegable al hacer clic en el botón */
.show {
    display: block;
}
/* Estilos para la tabla de referencia */
.references-table {
    max-width: 800px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #3498db;
    color: #fff;
}
.correo h4{
    padding: 20px;
}
.correo a{
    margin-top: 40px;
    color: white;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .header-top {
        flex-direction: column;
        text-align: center;
    }
    
    #dark-mode-btn {
        margin-top: 10px;
    }
    
    .language-switch {
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px) {
    footer {
        margin-top: 60px;
        right:20px;
        flex-direction: column;
        text-align: center;
    }
    

    
    .social-icons {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {


    
    .social-icons {
        margin-top: 20px;
    }
    /* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que ocupe toda la altura de la ventana */
}

/* Estilo para el contenedor principal */
.curriculum {
    display: flex;
    flex-direction: column; /* Cambio a columna en dispositivos móviles */
    background-color: #f0f0f0;
    padding: 20px;
    height: 100%; /* Toma toda la altura disponible */
}

/* ... (resto de estilos) */

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .header {
        width: 100%; /* Ancho completo en dispositivos móviles */
        border-radius: 0; /* Sin bordes redondeados en dispositivos móviles */
        text-align: center; /* Centrado en dispositivos móviles */
    }

    .name {
        margin: 20px 0; /* Reduzco el margen en dispositivos móviles */
        font-size: 20px; /* Texto más pequeño en dispositivos móviles */
    }

    /* ... (ajusta otros estilos según sea necesario) */

    .right, .education {
        flex: 1; /* Toma el ancho completo en dispositivos móviles */
        padding: 20px;
        background-color: #f7f7f7;
    }

    .projects {
        flex-direction: column; /* Cambio a columna en dispositivos móviles */
    }

    .project {
        width: 100%; /* Ancho completo en dispositivos móviles */
    }

    /* ... (ajusta otros estilos según sea necesario) */

    .contact-form {
        margin-top: 20px; /* Reduce el margen superior en dispositivos móviles */
        padding: 20px;
        max-width: 100%; /* Ancho completo en dispositivos móviles */
        border-radius: 0; /* Sin bordes redondeados en dispositivos móviles */
    }

    .contact-form {
        margin: 0; /* Sin margen en dispositivos móviles */
    }

    .social-icons {
        margin: 20px 0; /* Margen superior e inferior en dispositivos móviles */
    }


    .references-table {
        max-width: 100%; /* Ancho completo en dispositivos móviles */
        border-radius: 0; /* Sin bordes redondeados en dispositivos móviles */
        border-collapse: collapse;
        overflow-x: auto;
    }

    table th, table td {
        padding: 10px; /* Reduce el espaciado en celdas en dispositivos móviles */
        font-size: 14px; /* Texto más pequeño en dispositivos móviles */

    }
  }
}