/*Etiquetas globales*/
body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/*Etiquetas bloques de idioma*/
.idioma{
font-size: 24px;
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
transition: all 0.3s ease;
}

.idioma_espanol{
    height: 100%;
    width: 50%;
    padding: 22%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: #000000 solid 1px;
 }

 .idioma_ingles{
    margin: auto;
    height: 100%;
    width: 50%;
    padding: 22.9%;
 }

 .idioma_ingles:hover {
    border-left:  #000000 solid 1px ;
}


.bandera {
    width: 60px;
    height: auto;
    margin: 8px;
}
.idioma:hover {
    font-size: 28px;
    transform: scale(1.2);
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    .bandera{
        width: 80px;
    }
}
a {
    color: #000000;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .idioma{
        width: 8%;
        height: 8%;
        padding-top: 70%;
        padding-bottom: 100%;
        border: none;
    }

    .idioma_espanol{
        border-right: #000000 solid 1px;
    }

}